@use '../base/functions' as fun;
@use '../base/mixin' as mix;

.verify-code-main{
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verify-code-content{
    position: absolute;
    z-index: 1;
    max-width: 42.5%;
    width: 90%;
    top: 5%;
    left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
        picture{
            display: flex;
            width: 15vh;
            margin-bottom: 40px;
            img{
                width: 100%;
            }
        }
        h1{
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 21px;
        }
        h2{
            text-align: center;
            text-transform: uppercase;
            margin: 10px 0 10px;
            
        }
        h3{
            font-weight: 400;
            text-align: center;
            text-transform: uppercase;
            margin: 20px 0 30px;
            
        }
    
}

.verify-code-text{
    align-items: center;
    display: flex;
    flex-direction: column;
    
    .btn{
        margin-bottom: 20px;
    }
}

.input-cont{
    display: flex;
    flex-direction: row;
}

form {    
    margin-bottom: 20px;
    
    .form-control {
      display: block;
      height: 55px;
      width: 55px;
      margin-right: 0.5rem;
      text-align: center;
      font-size: 22px;
      text-transform: capitalize;
      border: 1.83481px solid #070707;

    
      
    &:valid {
        background-color: fun.color('secondary');
        color: fun.color('white');;
    }
      
      &:last-child {
        margin-right: 0;
      }
    }
    
    .form-control:placeholder-shown{
        background-color: fun.color('white');
        color: fun.color('white');
    }
  }



@media(max-width: fun.breakpoints('ipad-big')){
    .verify-code-content{
        left: unset;
        max-width: 85%;
    }
   
    .verify-code-text{
        justify-content: center;
        align-items: center;
        margin: auto;
        left: calc(50% - 45%);
        top: 50px;
        .ctm-fonts{
            text-align: center;
            align-items: center;
        }
       
    }

    form {    
        
        .form-control {
          height: 45px;
          width: 45px;
          
          
        }
      }
}

@media(max-width: fun.breakpoints('mobile')){
    

    form {    
        
        .form-control {
          height: 35px;
          width: 35px;
          font-size: 15px;
          
          
        }
      }
}


 