@use '../base/functions' as fun;
@use '../base/mixin' as mix;

.verify-code-main{
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


.verify-polygon-small {
    position: absolute;
    top: 0%;
    transform: skew(-28deg);

    &.left{
        right: 49%;
        width: 40px;
        height: 100px;
        background-color: #FFFFFF;
    }

    &.right{
        right: 46%;
        width: 35px;
        height: 140px;
        background: linear-gradient(51.75deg, #FFFFFF 11.04%, rgba(255, 255, 255, 0) 92.48%);
    }
}

.verify-polygon{
    position: absolute;
    width: 55vw;
    height: 195vh;
    left: 0%;
    background: linear-gradient(185.78deg, #FFFFFF 19.53%, rgba(255, 255, 255, 0) 63.53%);
    transform: rotate(-26deg);
    top: -40vh;
    z-index: 1;
    &__ctn{
        overflow: hidden;
        position: absolute;
        width: 100%;
        height: 0;
        top: 0;
    }
    &.red{
        background: linear-gradient(184.16deg, #792424 2.69%, rgba(230, 45, 43, 0) 97.73%);
        left: 58.5%;
        max-width: 12vw;
        z-index: 0;
    }
    &.green{
        background: linear-gradient(187.94deg, #627220 24.71%, rgba(42, 136, 38, 0) 93.95%);
        left: 72.5%;
        max-width: 25vw;
        z-index: 0;
    }
    
    
}

.verify-code-content{
    position: absolute;
    z-index: 1;
    max-width: 42.5%;
    width: 90%;
    top: 3%;
    left: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;

    picture{
        display: flex;
        width: 11vh;
        margin-bottom: 22px;
        img{
            width: 100%;
        }
    }
    .ctm-fonts{
        text-align: center;
        text-transform: uppercase;
        
        h1{
            margin-bottom: 20px;
        }
    
        h2{
            font-size: 2.3rem;
            font-weight: 600;
            margin-bottom: 10px;
        }
    
        h3{
            font-size: 2rem;
            font-weight: 400;
            max-width: 80%;
            margin-bottom: 20px;
        }
    }
       
}

.verify-code-text{
    align-items: center;
    display: flex;
    flex-direction: column;
    
    .btn{
        width: 80%;
        max-width: 400px;
        margin-bottom: 20px;
    }
}

.input-cont{
    display: flex;
    flex-direction: row;
}

form {    
    margin-bottom: 20px;
    
    .form-control {
      display: block;
      height: 55px;
      width: 55px;
      margin-right: 0.5rem;
      text-align: center;
      font-size: 22px;
      text-transform: capitalize;
      border: 1.83481px solid #070707;

    
      
    &:valid {
        background-color: fun.color('secondary');
        color: fun.color('white');;
    }
      
      &:last-child {
        margin-right: 0;
      }
    }
    
    .form-control:placeholder-shown{
        background-color: fun.color('white');
        color: fun.color('white');
    }
  }



@media(max-width: fun.breakpoints('ipad-big')){
    
    .chevignon-logo{
        display: none;
    }


.verify-polygon-small {
    display: none;
}
    .verify-code-content{
        left: unset;
        max-width: 70%;
    }
   
    .verify-code-text{
        justify-content: center;
        align-items: center;
        margin: auto;
        left: calc(50% - 45%);
        top: 50px;
        .ctm-fonts{
            text-align: center;
            align-items: center;
        }
       
    }

    form {    
        
        .form-control {
          height: 45px;
          width: 45px;
          
          
        }
      }
}

@media(max-width: fun.breakpoints('mobile')){

    .verify-code-content{
        left: unset;
        width: 80%;
        max-width: 400px;

        picture{
            margin-bottom: 12px;
        }
        

        .btn{
            width: 100%;
        }

        .ctm-fonts{
            
            h1{
                font-size: 3rem;
            }
        
            h2{
                font-size: 1.5rem;
            }
        
            h3{
                font-size: 1.6rem;
                max-width: unset;
            }
        }
    }
    

    form {    
        
        .form-control {
            height: 37px;
            width: 13%;
            max-width: 45px;
            font-size: 15px;
        }
      }
}


 