@use '../base/functions' as fun;
@use '../base/mixin' as mix;

.verify-code-main{
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verify-polygon{
    position: absolute;
    width: 55vw;
    height: 195vh;
    left: 0%;
    background: linear-gradient(185.78deg, #FFFFFF 19.53%, rgba(255, 255, 255, 0) 63.53%);
    transform: rotate(-26deg);
    top: -40vh;
    z-index: 1;
    &__ctn{
        overflow: hidden;
        position: absolute;
        width: 100%;
        height: 0;
        top: 0;
    }
    &.green{
        background:linear-gradient(188.91deg, #627220 1%, rgba(42, 136, 38, 0) 70%);
        left: 59.5%;
        max-width: 25vw;
        z-index: 0;
    }
    &.red{
        background: linear-gradient(184.16deg, #792424 1%, rgba(230, 45, 43, 0) 70%);
        left: 86.5%;
        max-width: 12vw;
        z-index: 0;
    }
    
}

.verify-code-content{
    position: absolute;
    z-index: 1;
    max-width: 42.5%;
    width: 90%;
    top: 5%;
    left: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;

    picture{
        display: flex;
        width: 11vh;
        margin-bottom: 40px;
        img{
            width: 100%;
        }
    }
    .ctm-fonts h1{
        color: fun.color("secondary");
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 21px;
    }
    .ctm-fonts h3{
        font-weight: 400;
        text-align: center;
        max-width: 478px;
        text-transform: uppercase;
        margin: 20px 0 30px;
        
    }
    .btn{
        width: 80%;
        height: 55px;
        
    }
    
}

.verify-code-text{
    align-items: center;
    display: flex;
    flex-direction: column;
    
    .btn{
        margin-bottom: 20px;
    }
}

.input-cont{
    display: flex;
    flex-direction: row;
}

form {    
    margin-bottom: 20px;
    
    .form-control {
      display: block;
      height: 55px;
      width: 55px;
      margin-right: 0.5rem;
      text-align: center;
      font-size: 22px;
      text-transform: capitalize;
      border: 1.83481px solid #070707;

    
      
    &:valid {
        background-color: fun.color('secondary');
        color: fun.color('white');;
    }
      
      &:last-child {
        margin-right: 0;
      }
    }
    
    .form-control:placeholder-shown{
        background-color: fun.color('white');
        color: fun.color('white');
    }
  }



@media(max-width: fun.breakpoints('ipad-big')){
    .chevignon-logo{
        display: none;
    }
    
    .verify-code-content{
        left: unset;
        max-width: 85%;
    }
   
    .verify-code-text{
        justify-content: center;
        align-items: center;
        margin: auto;
        left: calc(50% - 45%);
        top: 50px;
        .ctm-fonts{
            text-align: center;
            align-items: center;
        }
       
    }

    form {    
        
        .form-control {
          height: 45px;
          width: 45px;
          
          
        }
      }
}

@media(max-width: fun.breakpoints('mobile')){
    

    form {    
        
        .form-control {
          height: 35px;
          width: 35px;
          font-size: 15px;
          
          
        }
      }
}


 