<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>

    <main class="main-content bg">
        <section class="register-main">

            <div class="bg-polygon-right"></div>
            <div class="register-content">

                <picture>
                    <img src="../assets/images/png/logo-flags.png" alt="">
                </picture>
                
                <div class="ctm-fonts register-text"> 
                    <h1>¡BUENA PRACTICA!</h1>
                    <h3>Ahora que estás listo, ingresa tus códigos para tener la oportunidad de ganar un viaje a México y asistir al Gran Premio de la Fórmula 1 cuando compres un par de jeans.</h3>
                    <a href="#" class="btn">Continuar</a>
                </div>   
            </div>
        </section>
    
    </main>
    <!--FIN LOADER-->
    <script type="module" src="../js/mainscript.js"></script> 
</body>
</html>