<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chevignon</title>
</head>
<body>
    <main class="main-content">
        <!--VIDEO PRINCIPAL-->
        <section class="video-ctn">
            <video preload="auto" loop="" autoplay="" muted="" playsinline="">
                <source src="https://player.vimeo.com/progressive_redirect/playback/819967565/rendition/540p/file.mp4?loc=external&signature=28d05e193d88ce6767222818006b5f889ca03daa74df99c5833d05ca5c486e3e" type="video/webm">
            </video>       
            <!--LOGO RACING-->
            <div class="video-img">
                <picture>
                    <img src="../assets/images/png/logo-racing.png" alt="">
                </picture>
            </div>
            <!--FIN LOGO RACING-->
            <!--DESCRIPCIÓN IZQUIERDA-->
            <div class="video-polygon"></div>
            <div class="video-dsc">
                <picture>
                    <img src="../assets/images/svg/logo-racing-secondary.svg" alt="">
                </picture>
                <div class="ctm-fonts">
                    <h1>¡Prepárate para una aventura en jeans y velocidad desenfrenada!</h1>
                    <h3>juega y gana un viaje a México <br>para asistir al Gran Premio de la Fórmula 1</h3>
                    <a href="#" class="btn">Empezar</a>
                    <p>Si realizas una compra mínima de 100.000 en cualquier producto, tendrás la oportunidad de participar en el sorteo de un viaje a México para asistir al Gran Premio de la Fórmula 1. Además, si compras un jean, triplicaremos tus oportunidades.</p>
                </div>
            </div>
            <!--FIN DESCRIPCIÓN IZQUIERDA-->
        </section>
        <!-- FIN VIDEO PRINCIPAL -->
    </main>
    <script type="module" src="../js/front.js"></script>
</body>
</html>