<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="bg">
    <section class="ctm-fonts bg">
        <h1>Titulo</h1>
    </section>
    <!-- <div class="ctm-fonts">
        <h1>Plantilla creada por <a href="https://github.com/jhosuapp" target="_blank">jhosua</a></h1>
        <h2>holaaaaaaaaaaa</h2>
        <h3>holaaaaaaaaaaa</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam, nemo?</p>
    </div> -->
    <script type="module" src="../js/front.js"></script>
</body>
</html>