<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <main class="main-content">
        <section class="verify-code-main">
            <div class="register-bg">
                <picture>
                    <img src="../assets/images/png/register-bg.png" alt="">
                </picture>
            </div>
            

            <div class="verify-polygon"></div>
            
                <div class="verify-polygon green"></div>
         

                <div class="verify-polygon red"></div>

            <div class="chevignon-logo right">
                <picture>
                    <img src="../assets/images/svg/logo-racing-secondary.svg" alt="">
                </picture>
            </div>
            <div class="verify-code-content">

                <picture>
                    <img src="../assets/images/png/logo-flags.png" alt="">
                </picture>
                
                <div class="ctm-fonts verify-code-text"> 
                    <h1>MIS PARTIDAS</h1>
                    <h3>Recuerda que cada compra mínima de $100.000 te da derecho a una partida, mientras que la compra de un par de jeans te da derecho a tres partidas.</h3>
                    

                    <h3>Ingresa tu código</h3>
                    <form action="#">
                        <div class="input-cont">
                          <input maxlength="1" placeholder="X" class="form-control">
                          <input maxlength="1" placeholder="X" class="form-control">
                          <input maxlength="1" placeholder="X" class="form-control">
                          <input maxlength="1" placeholder="X" class="form-control">
                          <input maxlength="1" placeholder="X" class="form-control">
                          <input maxlength="1" placeholder="X" class="form-control">
                          <input maxlength="1" placeholder="X" class="form-control">
                        </div>
                    </form>
                    <a href="#" class="btn"><span>Validar códigos</span></a>
                    <a href="#" class="btn" disabled><span>Jugar</span></a>
                    <a href="#" class="btn"><span>Ver Rankings</span></a>
                </div>   
            </div>
        </section>
    
    </main>

    <!--LOADER-->
    <section class="loader">
        <article class="loader__car">
            <img src="../assets/images/png/car.png" alt="">
        </article>
        <article>
            <picture>
                <img src="../assets/images/svg/C.svg" alt="" style="--index:0.2s">
            </picture>
            <picture>
                <img src="../assets/images/svg/H.svg" alt="" style="--index:0.25s">
            </picture>
            <picture>
                <img src="../assets/images/svg/E.svg" alt="" style="--index:0.3s">
            </picture>
            <picture>
                <img src="../assets/images/svg/V.svg" alt="" style="--index:0.35s">
            </picture>
            <picture>
                <img src="../assets/images/svg/I.svg" alt="" style="--index:0.4s">
            </picture>
            <picture>
                <img src="../assets/images/svg/G.svg" alt="" style="--index:0.45s">
            </picture>
            <picture>
                <img src="../assets/images/svg/N.svg" alt="" style="--index:0.5s">
            </picture>
            <picture>
                <img src="../assets/images/svg/O.svg" alt="" style="--index:0.55s">
            </picture>
            <picture>
                <img src="../assets/images/svg/N.svg" alt="" style="--index:0.6s">
            </picture>
        </article>
    </section>
    <!--FIN LOADER-->
    
    <script type="module" src="../js/front.js"></script>
</body>
</html>