<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <main class="main-content bg">
        <section class="verify-code-main">

            <div class="bg-polygon-left"></div>
            <div class="verify-code-content">

                <picture>
                    <img src="../assets/images/png/logo-flags.png" alt="">
                </picture>
                
                <div class="ctm-fonts verify-code-text"> 
                    <h1>MIS PARTIDAS</h1>
                    <h3>Recuerda que cada compra mayora o igual a $100.000 te da derecho a una partida , mientras que la compra de un par de jeans te da derecho a tres partidas.</h3>
                    

                    <h3>Ingresa tu código</h3>
                    <form action="#">
                        <div class="input-cont">
                          <input maxlength="1" placeholder="X" class="form-control">
                          <input maxlength="1" placeholder="X" class="form-control">
                          <input maxlength="1" placeholder="X" class="form-control">
                          <input maxlength="1" placeholder="X" class="form-control">
                          <input maxlength="1" placeholder="X" class="form-control">
                          <input maxlength="1" placeholder="X" class="form-control">
                          <input maxlength="1" placeholder="X" class="form-control">
                        </div>
                    </form>
                    <a href="#" class="btn"><span>Validar códigos</span></a>
                    <a href="#" class="btn" disabled><span>Jugar</span></a>
                    <a href="#" class="btn"><span>Ver Rankings</span></a>
                </div>   
            </div>
        </section>
    
    </main>
    <script type="module" src="../js/front.js"></script>
</body>
</html>