@use '../base/functions' as fun;
@use '../base/mixin' as mix;

.btn{
    @include mix.flex;
    text-align: center;
    background-color: fun.color('secondary');
    color: fun.color('white');
    height: 7.5vh;
    font-size: 2.5vh;
    text-transform: uppercase;
    font-weight: 800;
    max-width: 90%;
    width: 100%;
    transition: .5s ease;
    transition-property: background-color, color;
    position: relative;
    span{
      position: relative;
      z-index: 9;
    }
    &::after{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: fun.color('primary');
      width: 0;
      left: 0;
      transition: .5s ease width;
    }
    &:hover::after{
      width: 100%;
    }
}


@media(max-width: fun.breakpoints('ipad-big')){
    .btn{
        font-size: 18px;
        height: 50px;
    }
}
@media(max-width: fun.breakpoints('ipad-small')){
    .btn{
        font-size: 17px;
        height: 45px;
    }
}