@use '../base/functions' as fun;

.ctm-fonts{
    h1{
        font-size: 7.5vh;
        line-height: 1;
    }
    h2{
        font-size: 3rem;
    }
    h3{
        font-size: 4vh;
    }
    h4{

    }
    p{
        font-size: 2.3vh;
    }
}

@media(max-width: fun.breakpoints('ipad-big')){
    .ctm-fonts{
        h1{
            font-size: 4rem;
        }
        h2{
            font-size: 3rem;
        }
        h3{
            font-size: 2.25rem;
        }
        p{
            font-size: 1.6rem;
        }
    }
}

@media(max-width: fun.breakpoints('ipad-small')){
    .ctm-fonts{
        h1{
            font-size: 3.5rem;
        }
        h2{
            font-size: 3rem;
        }
        h3{
            font-size: 2rem;
        }
        p{
            font-size: 2vh;
        }
    }
}