@use '../base/functions' as fun;

.video-ctn{
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    video{
        width: 150vw;
        position: absolute;
        height: 120vh;
    }
}

.video-img{
    position: absolute;
    z-index: 1;
    left: -100%;
    top: 50px;
    picture{
        width: 28vh;
        position: relative;
        display: flex;
    }
    img{
        width: 100%;
    }
}

.video-dsc{
    position: absolute;
    z-index: 1;
    max-width: 37%;
    width: 90%;
    right: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    opacity: 0;
    picture{
        display: flex;
        width: 50vh;
        margin-bottom: 40px;
        img{
            width: 100%;
        }
    }
    .ctm-fonts{
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        h3{
            margin: 20px 0 30px;
        }
        .btn{
            margin-bottom: 10px;
        }
    }
}

.video-polygon{
    position: absolute;
    width: 50vw;
    height: 195vh;
    right: 0%;
    background: linear-gradient(185.78deg, #FFFFFF 5.51%, rgba(255, 255, 255, 0) 70%);
    backdrop-filter: blur(2px);
    transform: rotate(30deg);
    top: -40vh;
    &__ctn{
        overflow: hidden;
        position: absolute;
        width: 100%;
        height: 0;
        top: 0;
    }
    &.red{
        background: linear-gradient(184.16deg, #792424 1%, rgba(230, 45, 43, 0) 70%);
        right: 54%;
        max-width: 18vw;
    }
    &.green{
        background:linear-gradient(188.91deg, #627220 1%, rgba(42, 136, 38, 0) 70%);
        right: 75%;
        max-width: 28vw;
    }
    // &.green,
    // &.red{
    //     &::before,
    //     &::after{
    //         content: "";
    //         width: 10vw;
    //         height: 10vw;
    //         clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    //         background-color: fun.color('white');
    //         position: absolute;
    //         top: 0;
    //     }
    // }
}

@media(max-width: fun.breakpoints('laptop-small')){
    .video-dsc{
        max-width: 60%;
    }
}

@media(max-width: fun.breakpoints('ipad-big')){
    .video-ctn{
        align-items: flex-end;
        video{
            width: 2500px;
            height: 100vh;
        }
    }
    .video-polygon{
        right: unset;
        width: 170vw;
        transform: rotate(20deg);
        height: 130vh;
        top: -150px;
        &.red{
            right: 4%;
            top: 19%;
        }
        &.green{
            left: -32%;
            right: unset; 
        }
    }
    .video-dsc{
        justify-content: center;
        align-items: center;
        max-width: 90%;
        margin: auto;
        left: calc(50% - 45%);
        top: 50px;
        .ctm-fonts{
            text-align: center;
            align-items: center;
            max-width: 425px;
        }
        picture{
            width: 300px
        }
        max-width: 90%;
    }
    .video-img{
        top: unset;
        bottom: -100%;
        left: unset;
    }
}

@media(max-width: fun.breakpoints('ipad-small')){
    .video-img{
        picture{
            width: 180px;
        }
    }
    .video-dsc{
        picture{
            margin-bottom: 20px;
        }
    }
    .video-polygon{
        &__ctn{
            width: 170vw;
        }
        &.red,
        &.green{
            transform: rotate(30deg);
        }
        &.green{
            top: -10%;
            width: 100px;
            max-width: 100px;
            right: unset;
            height: 400px;
            left: 12.5%;
        }
        &.red{
            right: 27%;
            width: 200px;
            max-width: 150px;
            top: 25%;
        }
    }
}