@use '../base/functions' as fun;

.video-polygon{
    &__ctn{
        transition: .5s ease height;
    }
}

.video-img{
    transition: .5s ease;
    transition-property: left, bottom;
}

.video-dsc{
    transition: .5s ease opacity;
}

.enable-animation{
    .video-polygon{
        &__ctn{
            height: 100vh;
        }
    }
    .video-dsc{
        opacity: 1;
        transition-delay: .2s;  
    }
    .video-img{
        left: 0; 
        transition-delay: .2s;  
    }
}

@media(max-width: fun.breakpoints('ipad-big')){
    .enable-animation{
        .video-img{
            left: unset; 
            bottom: 0;
        }
    }
}